#simpleCookieConsent {
    
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    resize: vertical;
    overflow: auto;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.7);
    
    .cookieConsentContainer {
        position: absolute;
        top: 50%;
        left: 2em;
        right: 2em;
        margin: -10em auto 0;
        padding: 1em;
        max-width: 30em;
        background-color: white;
    }
    .cookieConsentSelection {
        text-align: right;
    }
    button {
        background-color: nth($highlight, 2);
        border: none;
        padding: .25em;
    }

    button.cookieConsentAllow:hover, button.cookieConsentDeny:hover{
        opacity: 1;
        cursor: pointer;
    }
    hr {
        margin: .75em 0;
    }
    a{
        display: inline;
    }
    .forTest{
        display: none;
    }
}

.hideThis{
    display: none;
}