header{
    background-color: nth($palette, 1);
    color: nth($textColor, 2);
    padding: .5em .5em 0em .5em;
    #titulo{
        display: flex;
        align-items: center;
        
        h1{
            display: inline-block;
            margin: .1em;
            font-size: 300%;
        }
        #logo{
            width: 3.5em;
            height: 3.5em;
            display: inline-block;
        }
        .logo{
            animation-name: twitch;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .logo2{
            animation-name: flips;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        a{
            color: nth($textColor, 2);
        }
    }


    nav{
        color: nth($textColor, 2);
        ul{
            padding-left: 0;
            li{
                padding: 0;
                background-color: nth($highlight, 1);
                a{
                    color: nth($textColor, 2);
                    text-decoration: none;
                    background-color: transparent;
                    padding: .25rem 1rem;
                    &:hover{
                        color: nth($textColor, 2);
                        background-color: transparent;
                    }
                }
                &:hover a{
                    background-color: rgba(255,255,255,.15);
                    transition: all .4s ease-in;
                }
                &.aqui{
                    background-color: $activo;
                }
            }
        }
        
        
    }
    #menu_mov {
        button,ul{
            width: 100%;

        }
        @include tablet{
            display: none;
        }
    }
    #menu_desk {
        display: none;
        @include tablet{
            display: block;
        }
        @include desktop{
            ul{
                display: grid;
                grid-template-columns: repeat(auto-fit,15em);
                gap: .2em;
            }
            
        }
    }
}
