@media screen {
    @import 'variables';
    @import 'mixins';
    @import 'animations';
    @import 'general';
    @import 'header';
    @import 'aside';
    @import 'content';
    @import 'footer';
    @import 'cookies';
}